.footer{
   background-color:  #204659;
}
.uu {
   list-style: none;
   color:white
}

.uu > li a{
   color: white;
}
.btnnn{
   background-color:red;
   color: white;
   border: 0px;
}
.input{
   width: 100%;
   height: 50px;
}